
.banner {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
.postHeader {
  margin-bottom: 4rem;
  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--heading);
  }
  ul {
    list-style: none;
    display: flex;
    margin: 1.5rem  0 1rem 0;
    li {
      margin-right: 1.5rem;
      font-size: 1rem;
      color: var(--info);
      svg {
        margin-right: 0.5rem;
      }
    }
  }
  time {
    font-size: 0.825rem;
    color: var(--info);
    font-style: italic;
  }
}
.postContent {
  h2 {
    font-size: 2.25rem;
    color: var(--heading);
    font-weight: 700;
    margin: 2.5rem 0;
  }
  p, span, ul, a{
    font-size: 1.125rem;
    text-align: justify;
    color: var(--body);
    line-height: 140%;


  }
  a {
    color: var(--highlight);
  }
  strong {
    font-weight: 700;
  }
  ul {
    padding-left: 1.5rem;
    li {
      margin: 0.5rem 0;
    }
  }
}

.footer {
  margin-top: 3.75rem;
  >div:first-child {
  border-top: 1px solid var(--body);
  opacity: 0.1;
  }


  .navPosts {
    margin:3rem 0  5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      text-align: right;
      font-size: 1.125rem;
      color: var(--heading);
      line-height: 1.375rem;
      width: 11rem;
      height: 3.5rem;
      cursor: pointer;

      &:first-child {
        text-align: left;
      }
      a {
        margin-top: 0.5rem;
        color: var(--highlight);
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }

}
